.about {
  text-align: center;
  padding: 50px 20px;
  background-color: #f9f9f9;
}

.about-title {
  font-size: 3rem;
  color: #333;
}

.about-text {
  font-size: 1rem;
  margin-bottom: 40px;
  color: #555;
}

.about-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.about-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: auto;
  width: 32%;
  min-width: 250px;
  transition: transform 0.3s ease-in-out;
}

.about-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.about-card p {
  font-size: 1rem;
  color: #777;
}

.about-card:hover {
  transform: translateY(-10px);
}

@media (max-width: 768px) {
  .about {
    padding: 50px 5px;
  }
  .about-card {
    width: 100%;
    min-width: 100%;
  }

  .about-text {
    font-size: 1rem;
    text-align: justify;
    padding-inline: 0.5rem;
  }
  .about-card p {
    text-align: justify;
  }
}
