.footer {
  background-color: #000;
  color: #ffffff;
  padding: 1rem 0rem 0.5rem;
  overflow: hidden;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
  padding: 0 20px;
}

.footer-section {
  flex: 1;
  min-width: 250px;
}
.footer-section img {
  width: 150px;
}

.footer-section h3 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.footer-section p {
  margin: 5px 0;
  font-size: 1rem;
}

.footer-section p a {
  color: #ffffff;
}

.footer-section p:hover a {
  color: #9cff1e;
}

.phone {
  direction: ltr;
  unicode-bidi: embed;
}

.social-media .social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  color: #ffffff;
  font-size: 1.8rem;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.social-icons a:hover {
  color: #9cff1e;
  transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
}

.footer-bottom {
  border-top: 1px solid #ffffff;
  padding-block: 10px;
  text-align: center;
}

.footer-bottom p {
  font-size: 1rem;
  margin: 0;
}

@media (max-width: 768px) {
  .footer {
    padding: 0;
  }
  .footer-content {
    gap: 10px;
    margin-left: 1rem !important;
  }
  .footer-section {
    margin-right: 1rem !important;
  }
  .footer-section img {
    margin: auto;
    display: block;
  }

  .social-media {
    margin-bottom: 0.5rem;
  }
}
