.navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  padding: 0 !important;
  width: 100%;
  background-color: #000;
  box-shadow: 0 2px 4px rgba(235, 232, 232, 0.747);
  z-index: 999;
}

.navbar .logo img {
  width: 150px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  position: relative;
}

.nav-links li {
  margin-inline: 1rem;
  position: relative;
}

.nav-links li::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #9cff1e;
  transition: width 0.3s ease;
}
body[dir="rtl"] .nav-links li::after {
  right: 0;
}

.nav-links li:hover::after {
  width: 100%;
}

.nav-links li a {
  color: #fff;
}
.nav-links li a:hover {
  color: #9cff1e;
}

.menu-icon {
  display: none;
}

/* mobile media query */
@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 54px;
    left: 0;
    width: 100%;
    background-color: #2c3e50;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
  }

  .nav-links.open {
    max-height: 500px;
  }

  .nav-links li {
    margin-bottom: 1rem;
    margin-inline: 0;
    font-size: 1.2rem;
  }

  .menu-icon {
    display: block;
    color: #fff;
    font-size: 1.4rem;
    cursor: pointer;
  }
}
