.whatsapp-button,
.back-to-top-container {
  position: fixed;
  bottom: 25px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.whatsapp-button {
  left: 10px;
  animation: move 2s infinite;
  animation-timing-function: ease-in-out;
  -webkit-animation: move 2s infinite;
}

.back-to-top-container {
  right: 10px;
  animation: float 1s ease-in-out infinite;
  -webkit-animation: float 1s ease-in-out infinite;
}

.whatsapp-btn {
  background-color: #69af0e;
  color: white;
  font-size: 1.8rem;
  padding: 6px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whatsapp-btn:hover {
  background-color: #80cc1d;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

.back-to-top {
  display: flex;
  background-color: #69af0e;
  color: white;
  font-size: 1.4rem;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.back-to-top.show {
  opacity: 1;
  visibility: visible;
}

.back-to-top:hover {
  background-color: #80cc1d;
}

@keyframes move {
  0%,
  100% {
    transform: translateX(0);
  }
  20%,
  40%,
  60% {
    transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -o-transform: translateX(-5px);
  }
  30%,
  50%,
  70% {
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
