html {
  scrollbar-color: #80cc1d transparent;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9 !important;
  overflow: hidden !important;
}
body * {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.rtl {
  direction: rtl;
  text-align: right;
}

.ltr {
  direction: ltr;
  text-align: left;
}
a {
  text-decoration: none !important;
}

.app-container {
  transition: all 0.5s ease;
}
