@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

html {
  scrollbar-color: #80cc1d transparent;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9 !important;
  overflow: hidden !important;
}
body * {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  font-family: "Tajawal", sans-serif;
}

.arabic {
  text-align: right;
  direction: rtl;
}

.english {
  font-family: "Arial", sans-serif !important;
  text-align: left;
  direction: ltr;
}
a {
  text-decoration: none !important;
}

.app-container {
  transition: all 0.5s ease;
}

/* Styles Arabic */
